<!DOCTYPE html>
<html>
<head>
    <meta lang="ru">
    <meta charset="utf-8">
    <title>Homepage</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>ИС "Аптека"</h1>
    <hr>
    <h2>Подсистемы</h2>
    <div class="undersystems">
        <div class="undersystem">
            <button><h3>Undersystem1 name</h2></button>
        </div>
        <div class="undersystem">
            <button><h3>Undersystem2 name</h2></button>
        </div>
        
    </div>
    <hr>
    <div class="content">
        <p>Здесь будет контент подсистемы</p>
    </div>

</body>
</html>