<!DOCTYPE html>
<html>

<head>
    <meta lang="ru">
    <meta charset="utf-8">
    <title>Рецептура</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="table_style.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">ИС "Аптека"</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="products.html">Товары</a></li>
                    <li class="active"><a href="recipe.html">Рецептура</a></li>
                    <li><a href="orders.html">Заказы</a></li>
                    <li><a href="staff.html">Персонал</a></li>
                    <li><a href="reports.html">Отчёты</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <hr>
    <div class="container">
        <h4>Список рецептов</h4>
        <table>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Выписан</th>
                <th>Скан</th>
                <th>Статус</th>
                <th>Опции</th>
            </tr>
            <tr>
                <td>0</td>
                <td>Рецепт на Антигорбин</td>
                <td>Пациенту необходим этот препарат для прекращения бытия человека кривоходяще/сидяще/лежачего</td>
                <td>22.12.2023</td>
                <td>-</td>
                <td>Товар выдан</td>
                <td><button>Редактировать</button><button>Удалить</button></ul>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>